@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@font-face {
    font-family:'Gilroy';
    src: url('FileName.eot');
    src: url('FileName.eot?#iefix') format('embedded-opentype'),
         url('FileName.woff') format('woff'),
         url('../fonts/Gilroy-Light.otf') format('truetype'),
         url('FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #FAFAFA;
}

.header__logo {
    font-family: 'Homemade Apple', cursive;
    font-size: 18px;
    color: #231F20;
    margin-left: 80px;

    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
}

.menu {
    display: flex;
    column-gap: 31px; /*делает отступ между флекс-элементами(колонками элементов)*/
    list-style: none;
    font-family: Gilroy;
}

.menu > .menu__item > a {
    text-decoration: none;
    color: #231F20;
}


.header__button {
    margin-right: 34px;
    border: 1px solid #F7941E;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;

    color: #F7941E;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;
}
/*main*/
.content{
    width: 100%;
}

.main_text1{
    height: 700px;
    display: flex;

}
.block1{
    width: 50%;
    background-color: #F1F1F2;
    padding-left: 167px;


}

.box-img {
    width: 50%;
    height: 700px;
}
.box-img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box-text1{
    margin-top: 154px;
    font-size: 56px;
    font-family: Gilroy;
    margin-bottom: 36px;
}
.box-text2{
    width: 422px;
    height: 57px;
    font-family: Gilroy;
    font-size: 20px;
    margin-bottom: 52px;
}

.main__button{
    width: 200px;
    height: 60px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
    background-color: #F7941E;
    text-transform: uppercase;

}

.box-text1_2{
    margin-top: 154px;
    font-size:32px;
    font-family: Gilroy;
    margin-bottom: 36px;
}

.main__button_1{
    width: 200px;
    height: 60px;
    color: #F7941E;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
    border: 1px solid #F7941E;
    text-transform: uppercase;


}

.box-text2_2{
    width: 441px;
    height: 167px;
    font-family: Gilroy;
    font-size: 20px;
    margin-bottom: 52px;
}

.block3 {
    height: 820px;
    background-color: #FFFFFF;
}

.cards{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}


.block3__title {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    margin: 90px 0px 64px 0px;
}

.block3__title > .title {
    
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.block3__title > .text {
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 135.94%;
    /* identical to box height, or 24px */

    text-align: center;

    color: #000000;

}

.card1{
    height: 436px;
   

}

.card1:hover{
    box-shadow: -10px -5px 40px rgb(105, 105, 105);

}

.card1-info {
    padding: 24px 0px 24px 24px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.info-text {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}
.more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
}
/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
}
.line {
    width: 1000px;
    height: 1px;
    border: 1px solid rgb(197, 197, 197);
    
}